.pagination {
  list-style: none;
  display: flex;
  border-radius: 2px;
  padding: 5px;
}

.pagination li {
  margin-right: 5px;
  padding: 5px;
  color: #666;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.pagination li:last-child {
  margin-right: 0px;
}
